{% extends 'base.html' %}

{% block title %}Academias{% endblock %}

{% block body %}



<div class="container-fluid">
   <div class="row content">
     <div class="col-sm-1 sidenav">

     </div>

     <div class="col-sm-10">
       <h1>Academias</h1>
       <div class="collapse navbar-collapse" id="myNavbar">
        <hr>
       </div>
       
          <div class="col-sm-9">
              <br><br>
              <hr><hr>
              {% for a in academias %}
  			     
              
  			      <h3 class="text-info" > {{a.nome_Academia}}</h3>
              <h5>{{a.endereco_academia}}</h5>
  			      <h5>
                {% if a.telefone %}
                {{a.telefone}}

                {% endif %}
              </h5>
              <h5>{{a.email}}</h5>
  			    <hr>
            {% endfor %}
          </div>
            <div class="col-sm-3">
              <a href="cadastro_academias"> <ins>Cadastre sua academia clicando aqui!</ins></a>
            </div>
        
    </div>
  </div>
</div>





{% endblock %}
