{% extends 'base.html' %}

{% block title %}Perfil do Usuário{% endblock %}

{% block body %}
<!--
  <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-1 sidenav">

        </div>

    	<div class="col-sm-10">
          <h1>Meu Perfil</h1>
          <div class="collapse navbar-collapse" id="myNavbar">
            Username:{{user.username}}
          	Name: {{user.name}}
            Idade:{{user.idade}}

          </div>


    	</div>

      </div>
  </div>
-->

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>{{user.username}}</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Perfil</a></li>
        <li><a href="cadastro_eventos">Solcitar Evento</a></li>
        <!--<li><a href="#section3"></a></li>
        <li><a href="#section3">Photos</a></li>-->
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>


    </div>
</div>
<!-- O que vai ser exibido-->


</div>


<br><br>
<button class="btn success">Success</button>
<button class="btn info">Info</button>
 {% endblock %}
